/*Typogr*/
/*Colors*/
/* Shadows */
/*
@mixin num_first ($color, $width) {
    color: $color;
    width: $width;
}

p{
    @include num_first(red,20px);
    margin-top: 20px;
}

/*^^^^^^^example*/
/*^^^^^^^example*/
* {
  margin: 0;
}

/*Typography*/
.titless {
  display: flex;
}

.headerr {
  height: 67px;
  background: #E6EEFF;
}

.itemss {
  padding: 20px;
}

.firstt {
  flex: 4;
  width: 255px;
  padding-left: 98px;
  padding-bottom: 40px;
}

.secondd {
  flex: 2;
  width: 70px;
}

.thirdd {
  flex: 2;
  width: 90px;
}

.fourthh {
  flex: 17;
  width: 540px;
}

.p1, .p2, .p3, .p4, h1, p {
  font-family: Inter;
}

h2, h3, h4, h5, h6 {
  font-family: SF Pro Display;
  margin: 0px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.p1 {
  font-size: 20px;
  line-height: 28px;
}

.p2 {
  font-size: 18px;
  line-height: 26px;
}

.p3 {
  font-size: 16px;
  line-height: 24px;
}

.p4 {
  font-size: 14px;
  line-height: 22px;
}

h1 {
  font-size: 32px;
  line-height: 42px;
}

h2 {
  font-size: 28px;
  line-height: 36px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

.line {
  border: 1px solid rgba(0, 82, 255, 0.16);
}

/*COLORS*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 660px);
  grid-auto-rows: minmax(446px, auto);
}

.wrapper > div {
  margin: 80px;
}

.numbers {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  padding-top: 12px;
}

.parts {
  display: flex;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 48px);
  grid-auto-rows: 48px;
  margin-left: 48px;
  grid-row-gap: 16px;
  grid-column-gap: 59px;
}

/*Mains*/
.first_square {
  width: 130px;
  height: 130px;
  border: 1px solid #E6EEFF;
  border-radius: 4px 4px 0px 0px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 48px;
  border: 1px solid #E6EEFF;
  border-radius: 0px 0px 4px 4px;
}

.radius-mini-blocks {
  border-radius: 2px;
}

.sub_title {
  font-family: Inter;
  font-size: 14px;
  line-height: 17px;
  height: 17px;
  margin-top: 10px;
  margin-left: 10px;
  color: #00194C;
}

.sub_string {
  font-size: 13px;
  line-height: 16px;
  margin-left: 8.5px;
  height: 16px;
  opacity: 0.48;
}

/* primary squares colors */
#blue_box {
  background: #0052FF;
}

#primary_first {
  background: #E6EEFF;
}

#primary_second {
  background: #B3CBFF;
}

#primary_third {
  background: #80A9FF;
}

#primary_fourth {
  background: #4D86FF;
}

#primary_fifth {
  background: #0052FF;
}

#primary_sixth {
  background: #004AE6;
}

#primary_seventh {
  background: #0039B3;
}

#primary_eigth {
  background: #002980;
}

#primary_ninth {
  background: #00194C;
}

#primary_one {
  background: #0052FF;
  opacity: 0.08;
}

#primary_two {
  background: #0052FF;
  opacity: 0.16;
}

#primary_three {
  background: #0052FF;
  opacity: 0.24;
}

#primary_four {
  background: #0052FF;
  opacity: 0.32;
}

#primary_five {
  background: #0052FF;
  opacity: 0.4;
}

#primary_six {
  background: #0052FF;
  opacity: 0.48;
}

/* Secondary squares colors */
#secondaryy_box {
  background: #FE9526;
}

#secondary_first {
  background: #FFF4E9;
}

#secondary_second {
  background: #FFDFBE;
}

#secondary_third {
  background: #FFCA93;
}

#secondary_fourth {
  background: #FEB567;
}

#secondary_fifth {
  background: #FEA03C;
}

#secondary_sixth {
  background: #E58622;
}

#secondary_seventh {
  background: #B2681B;
}

#secondary_eigth {
  background: #7F4B13;
}

#secondary_ninth {
  background: #331E08;
}

#secondary_one {
  background: #FE9526;
  opacity: 0.08;
}

#secondary_two {
  background: #FE9526;
  opacity: 0.16;
}

#secondary_three {
  background: #FE9526;
  opacity: 0.24;
}

#secondary_four {
  background: #FE9526;
  opacity: 0.32;
}

#secondary_five {
  background: #FE9526;
  opacity: 0.4;
}

#secondary_six {
  background: #FE9526;
  opacity: 0.48;
}

/* info squares colors */
#info_box {
  background: #FFCB2F;
}

#info_first {
  background: #FFFAEA;
}

#info_second {
  background: #FFEFC1;
}

#info_third {
  background: #FFE597;
}

#info_fourth {
  background: #FFDB6D;
}

#info_fifth {
  background: #FFD044;
}

#info_sixth {
  background: #E6B72A;
}

#info_seventh {
  background: #B38E21;
}

#info_eigth {
  background: #7F4B13;
}

#info_ninth {
  background: #332909;
}

#info_one {
  background: #FFCB2F;
  opacity: 0.08;
}

#info_two {
  background: #FFCB2F;
  opacity: 0.16;
}

#info_three {
  background: #FFCB2F;
  opacity: 0.24;
}

#info_four {
  background: #FFCB2F;
  opacity: 0.32;
}

#info_five {
  background: #FFCB2F;
  opacity: 0.4;
}

#info_six {
  background: #FFCB2F;
  opacity: 0.48;
}

/* Succsess squares colors */
#success_box {
  background: #53D86A;
}

#success_first {
  background: #EEFBF0;
}

#success_second {
  background: #CBF3D2;
}

#success_third {
  background: #A9ECB5;
}

#success_fourth {
  background: #87E497;
}

#success_fifth {
  background: #64DC79;
}

#success_sixth {
  background: #4BC25F;
}

#success_seventh {
  background: #3A974A;
}

#success_eigth {
  background: #21562A;
}

#success_ninth {
  background: #112B15;
}

#success_one {
  background: #53D86A;
  opacity: 0.08;
}

#success_two {
  background: #53D86A;
  opacity: 0.16;
}

#success_three {
  background: #53D86A;
  opacity: 0.24;
}

#success_four {
  background: #53D86A;
  opacity: 0.32;
}

#success_five {
  background: #53D86A;
  opacity: 0.4;
}

#success_six {
  background: #53D86A;
  opacity: 0.48;
}

/* Errors squares colors */
#error_box {
  background: #FF3434;
}

#error_first {
  background: #FFEBEB;
}

#error_second {
  background: #FFC2C2;
}

#error_third {
  background: #FF9A9A;
}

#error_fourth {
  background: #FF7171;
}

#error_fifth {
  background: #FF4848;
}

#error_sixth {
  background: #E62F2F;
}

#error_seventh {
  background: #B32424;
}

#error_eigth {
  background: #801A1A;
}

#error_ninth {
  background: #330A0A;
}

#error_one {
  background: #FF3434;
  opacity: 0.08;
}

#error_two {
  background: #FF3434;
  opacity: 0.16;
}

#error_three {
  background: #FF3434;
  opacity: 0.24;
}

#error_four {
  background: #FF3434;
  opacity: 0.32;
}

#error_five {
  background: #FF3434;
  opacity: 0.4;
}

#error_six {
  background: #FF3434;
  opacity: 0.48;
}

/*Shadows*/
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 826px;
}

.all_boxs {
  display: block;
  margin: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}

.all_boxs > div {
  width: 80px;
  height: 80px;
  margin-bottom: 8px;
  margin-left: 42px;
  background: #F2F2F2;
}

.text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-left: 15px;
}

#first_text {
  width: 163px;
  height: 17px;
  left: 80px;
  top: 168px;
}

#second_text {
  width: 174px;
  height: 17px;
  left: 323px;
  top: 168px;
}

#third_text {
  width: 169px;
  height: 17px;
  left: 577px;
  top: 168px;
}

#fourth_text {
  width: 140px;
  height: 17px;
  left: 92px;
  top: 353px;
}

#fifrh_text {
  width: 151px;
  height: 17px;
  left: 335px;
  top: 353px;
}

#sixth_text {
  width: 145px;
  height: 17px;
  left: 589px;
  top: 353px;
}

.first_box {
  box-shadow: inset 0px -1px 0px #EAEAEA;
}

.second_box {
  box-shadow: 0px 2px 10px rgba(25, 1, 52, 0.12);
}

.third_box {
  box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16);
}

.fourth_box {
  box-shadow: inset 0px 1px 0px #EAEAEA;
}

.fifth_box {
  box-shadow: 0px -2px 10px rgba(25, 1, 52, 0.12);
}

.sixth_box {
  box-shadow: 0px -4px 10px rgba(25, 1, 52, 0.16);
}

/* Buttons */
.all_buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

button {
  margin: 2em;
  height: 70px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0052FF;
  border-radius: 4px;
}

button:disabled {
  color: #80A9FF;
  background: rgba(0, 82, 255, 0.08);
}

.imgs {
  padding: 10px;
}

img {
  padding-right: 20px;
}

.but_prime {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E6EEFF;
  background: #0052FF;
  box-shadow: none;
}

.but_prime:hover {
  background: #4D86FF;
  box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16);
}

.but_prime:focus {
  background: #4D86FF;
  box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16);
}

.ghost {
  color: #0052FF;
  background: white;
  color: #0052FF;
  background: white;
}

.ghost:hover {
  color: #0052FF;
  background: rgba(0, 82, 255, 0.16);
  border: 0px;
  box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16);
}

.ghost:focus {
  color: #0052FF;
  background: rgba(0, 82, 255, 0.16);
  border: 0px;
  box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16);
}

.disabled {
  border: 0px;
}

/* Inputs */
input:disabled {
  background-color: white;
}

.all_inputs {
  margin: 100px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-auto-rows: minmax(60px, auto);
}

.all_inputs div {
  display: flex;
  flex-direction: column;
}

.main {
  margin: 10px;
  border: 1px solid #B3CBFF;
  width: 300px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  font-size: 24px;
  padding: 7px;
}

.inp_prime:hover {
  border: 3px solid #0052FF;
}

.inp_prime:focus {
  border: 3px solid #0052FF;
}

.error {
  border: 2px solid #FF3434;
  color: #FF3434;
}

.error::placeholder {
  color: #FF3434;
}

.inp_suc {
  border: 2px solid #53D86A;
  color: #53D86A;
}

.inp_suc::placeholder {
  color: #53D86A;
}

.inp_inf {
  border: 2px solid #FFCB2F;
  color: #FFCB2F;
}

.inp_inf::placeholder {
  color: #FFCB2F;
}

.icon_l {
  padding-left: 45px;
}

.icon_r {
  padding-right: 45px;
}

.icon_user {
  background: url(user.svg) no-repeat 20px;
  background-position: 13px 17px;
}

.icon_desc_inf {
  background: url(user-info.svg) no-repeat 20px;
  background-position: 13px 17px;
}

.icon_desc_suc {
  background: url(user-success.svg) no-repeat 20px;
  background-position: 13px 17px;
}

.icon_desc_err {
  background: url(user-error.svg) no-repeat 20px;
  background-position: 13px 17px;
}

.eyes {
  background: url(eye.svg) no-repeat 20px;
  background-position: 265px 20px;
}

.eye_inf {
  background: url(eye-info.svg) no-repeat 20px;
  background-position: 265px 20px;
}

.eye_suc {
  background: url(eye-success.svg) no-repeat 20px;
  background-position: 265px 20px;
}

.eye_err {
  background: url(eye-error.svg) no-repeat 20px;
  background-position: 265px 20px;
}

/* Checkboxes */
.checkboxes_container label {
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.our_checkboxes {
  -webkit-appearance: none;
}

.our_checkboxes:checked + .check_field {
  background: url(checkbox-on.svg);
}

.our_checkboxes:disabled + .check_field {
  background: url(checkbox-off-disabled.svg);
}

.our_checkboxes:checked:disabled + .check_field {
  background: url(checkbox-on-disabled.svg);
}

.our_checkboxes:checked + .radio_field {
  background: url(radio-on.svg);
}

.our_checkboxes:disabled + .radio_field {
  background: url(radio-off-disabled.svg);
}

.our_checkboxes:checked:disabled + .radio_field {
  background: url(radio-on-disabled.svg);
}

.check_field {
  width: 24px;
  height: 24px;
  background: url(checkbox-off.svg);
}

.radio_field {
  width: 24px;
  height: 24px;
  background: url(radio-off.svg);
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin-top: 90px;
}

.slider-box {
  position: absolute;
  cursor: pointer;
  top: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 15px;
}

.slider-box::before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  top: 1px;
  left: 1px;
  bottom: 0.5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 24px;
}

.switch input {
  -webkit-appearance: none;
}

input:checked + .slider-box {
  background-color: #ccc;
}

input:checked + .slider-box::before {
  background-color: #0052FF;
  transform: translateX(24px);
}

/* DropDown */
.drop_button {
  color: #0052FF;
  width: 200px;
  height: 54px;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid #0052FF;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_btn {
  padding: 15px;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.dropdown a:hover {
  background-color: #ddd;
}

.dropdown_inner {
  display: none;
  margin: 2px;
  border-radius: 4px;
  background-color: white;
  width: 200px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_inner a {
  color: #00194C;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #E6EEFF;
}

.show {
  display: block;
}

/*# sourceMappingURL=mainstyle.css.map */
