
@import 'variables';
@import 'mixins';



/*FONTES*/
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-V.ttf);
  src: url(../fonts/Inter-V.otf);
}

@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/SFPRODISPLAYMEDIUM.OTF);
  src: url(../fonts/SFPRODISPLAYMEDIUM.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf);
  src: url(../fonts/OpenSans-Bold.otf);
}



* {
    margin: 0;
}

body {
  background-color: #E5E5E5;
}  

 /* Buttons */

 .all_buttons {
    @include all_buttons;
  }
  
  h5 {
    font-size: $sixteen;
    line-height: 24px;
  }
  button {
    margin: 2em;
    height: 70px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $blue_box;
    border-radius: 4px;
  }
  button:disabled {
    color: $primary_third;
    background: rgba(0, 82, 255, 0.08);
  }
  .imgs {
    padding: 10px;
  }
   img {
     @include img;
   }
   .but_prime {
    @include but_prime
  }
  .but_prime:hover {
    background: $primary_fourth;
    box-shadow: $third_box
  }
  .but_prime:focus {
    background: $primary_fourth;
    box-shadow: $third_box
  }

  .ghost {
    color: $blue_box;
    background: white;
    color: $blue_box;
    background: white;
  }
  .ghost:hover {
    color: #0052FF;
    background: rgba(0, 82, 255, 0.16);
    border: 1px solid #0052FF;
    box-shadow: $third_box;
  }
  .ghost:focus {
    color: #0052FF;
    background: rgba(0, 82, 255, 0.16);
    border: 1px solid #0052FF;
    box-shadow: $third_box;
  }
  
  .disabled {
    border: 0px;
  }

  /* Inputs */
  
  input:disabled {
    background-color: white;
  }
  
  .all_inputs {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-auto-rows: minmax(60px, auto);
  }
  .all_inputs div {
    display: flex;
    flex-direction: column;
  }
  
  
  .main {
    margin: 10px;
    border: 1px solid $primary_second;
    width: 300px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    font-size: 24px;
    padding: 7px;
  }
  
  .inp_prime:hover {
    border: 1px solid $blue_box;
  }
  .inp_prime:focus {
    border: 1px solid $blue_box;
  }
  
  .error {
    border: 1px solid $error_box;
    color: $error_box;
  }
  .error::placeholder {
    color: $error_box;
  }

  .inp_suc {
    border: 1px solid $success_box;
    color: $success_box;
  }
  .inp_suc::placeholder {
    color: $success_box;
  }
  
  .inp_inf {
    border: 1px solid $info_box;
    color: $info_box;
  }
  .inp_inf::placeholder {
    color: $info_box;
  }
  
  .icon_l {
    padding-left: 45px;
  }
  
  .icon_r {
    padding-right: 45px;
  }
  
  .icon_user {
    background: url(../images/user.svg) no-repeat $twenty;
    background-position: 13px 17px;
  }
  
  .icon_desc_inf {
    background: url(../images/user-info.svg) no-repeat $twenty;
    background-position: 13px 17px;
  }
  
  .icon_desc_suc {
    background: url(../images/user-success.svg) no-repeat $twenty;
    background-position: 13px 17px;
  }
  
  .icon_desc_err {
    background: url(../images/user-error.svg) no-repeat $twenty;
    background-position: 13px 17px;
  }
  
  .eyes {
    background: url(../images/eye.svg) no-repeat $twenty;
    background-position: 265px 20px;
  }
  
  .eye_inf {
    background: url(../images/eye-info.svg) no-repeat $twenty;
    background-position: 265px 20px;
  }
  
  .eye_suc {
    background: url(../images/eye-success.sv) no-repeat $twenty;
    background-position: 265px 20px;
  }
  
  .eye_err {
    background: url(../images/eye-error.svg) no-repeat $twenty;
    background-position: 265px 20px;
  }

  /* Checkboxes */
  
  .checkboxes_container label {
    display: flex;
    flex-direction: column;
    margin: 100px;
  }
  
  .our_checkboxes {
    -webkit-appearance: none;
  }
  .our_checkboxes:checked + .check_field {
    background: url(../images/checkbox-on.svg);
  }
  .our_checkboxes:disabled + .check_field {
    background: url(../images/checkbox-off-disabled.svg);
  }
  .our_checkboxes:checked:disabled + .check_field {
    background: url(checkbox-on-disabled.svg);
  }
  .our_checkboxes:checked + .radio_field {
    background: url(../images/radio-on.svg);
  }
  .our_checkboxes:disabled + .radio_field {
    background: url(../images/radio-off-disabled.svg);
  }
  .our_checkboxes:checked:disabled + .radio_field {
    background: url(../images/radio-on-disabled.svg);
  }
  
  .check_field {
    width: 24px;
    height: 24px;
    background: url(../images/checkbox-off.svg);
  }
  
  .radio_field {
    width: 24px;
    height: 24px;
    background: url(../images/radio-off.svg);
  }

  /* Switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
    margin-top: 90px;
  }
  
  .slider-box {
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    transition: 0.4s;
    border-radius: 15px;
  }
  .slider-box::before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    top: 2px;
    left: 2.09px;
    bottom: 2px;
    background-color: #E6EEFF;
    transition: 0.4s;
    border-radius: 24px;
  }
  
  .switch input {
    -webkit-appearance: none;
  }
  
  input:checked + .slider-box {
    background-color: #FFFFFF;
  }
  input:checked + .slider-box::before {
    background-color: $blue_box;
    transform: translateX(20px);
  }
  
  
  /* DropDown */
  
  .drop_button {
    @include drop_button
  }
  
  .text_btn {
    padding: 15px;
  }
  
  .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  .dropdown a:hover {
    background-color: #ddd;
  }
  
  .dropdown_inner {
    @include dropdown_inner
  }
  .dropdown_inner a {
    color: $primary_ninth;
    padding: $twelve $sixteen;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid $primary_first;
  }
  
  .show {
    display: block;
  }