
$headerr:#E6EEFF;
$FFInter: "Inter";
$SFPro: "SF Pro Display";
$Opensans: "OpenSans";



$blue_box: #0052FF;
$primary_first: #E6EEFF;
$primary_second: #B3CBFF;
$primary_third: #80A9FF;
$primary_fourth: #4D86FF;
$primary_fifth: #0052FF;
$primary_sixth: #004AE6;
$primary_seventh: #0039B3;
$primary_eigth: #002980;
$primary_ninth:  #00194C;

$secondaryy_box: #FE9526;
$secondary_first: #FFF4E9;
$secondary_second: #FFDFBE;
$secondary_third: #FFCA93;
$secondary_fourth: #FEB567;
$secondary_fifth: #FEA03C;
$secondary_sixth: #E58622;
$secondary_seventh: #B2681B;
$secondary_eigth: #7F4B13;
$secondary_ninth:  #331E08;

$info_box: #FFCB2F;
$info_first: #FFFAEA;
$info_second: #FFEFC1;
$info_third: #FFE597;
$info_fourth: #FFDB6D;
$info_fifth: #FFD044;
$info_sixth: #E6B72A;
$info_seventh: #B38E21;
$info_eigth: #7F4B13;
$info_ninth:  #332909;

$success_box: #53D86A;
$success_first: #EEFBF0;
$success_second: #CBF3D2;
$success_third: #A9ECB5;
$success_fourth: #87E497;
$success_fifth: #64DC79;
$success_sixth: #4BC25F;
$success_seventh: #3A974A;
$success_eigth: #21562A;
$success_ninth:  #112B15;

$error_box: #FF3434;
$error_first: #FFEBEB;
$error_second: #FFC2C2;
$error_third: #FF9A9A;
$error_fourth: #FF7171;
$error_fifth: #FF4848;
$error_sixth: #E62F2F;
$error_seventh: #B32424;
$error_eigth: #801A1A;
$error_ninth:  #330A0A;
$opac8: 0.08;
$opac16: 0.16;
$opac24: 0.24;
$opac32: 0.32;
$opac40: 0.4;
$opac48: 0.48;


$first_box: inset 0px -1px 0px #EAEAEA;
$second_box: 0px 2px 10px rgba(25, 1, 52, 0.12);
$third_box: 0px 4px 10px rgba(1, 21, 52, 0.16);
$fourth_box: inset 0px 1px 0px #EAEAEA;
$fifth_box: 0px -2px 10px rgba(25, 1, 52, 0.12);
$sixth_box: 0px -4px 10px rgba(25, 1, 52, 0.16);

$background_position_one: 13px 17px;
$background_position_two: 265px 20px;

$twenty: 20px;
$sixteen: 16px;
$twelve: 12px;

