@charset "UTF-8";
@font-face {
  font-family: "Sukhumvit Set";
  src: url("fonts/SukhumvitSet-Text.eot");
  src: local("☺"), url("../fonts/SukhumvitSet-Text.woff") format("woff"), url("../fonts/SukhumvitSet-Text.ttf") format("truetype"), url("../fonts/SukhumvitSet-Text.svg") format("svg"), url(../fonts/SukhumvitSet-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Saudagar";
  src: url("../fonts/saudagar.eot");
  src: local("☺"), url("../fonts/saudagar.woff") format("woff"), url("../fonts/saudagar.ttf") format("truetype"), url("../fonts/saudagar.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
}

/*Header*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

/*Responsive*/
@media screen and (max-width: 1024px) {
  /*Header*/
  .wrapper {
    width: 100%;
    margin: 0;
  }

  .header_wrapper {
    padding-top: 0px;
    justify-content: center;
    align-items: center;
  }

  .header_logo {
    margin-top: 37px;
  }

  .header_mobile {
    width: 100%;
    height: 44px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .header_time {
    margin-left: 21.72px;
  }

  .header_mobile_icons {
    margin-right: 5px;
  }

  .header_mobile_icons:last-child {
    margin-right: 13.62px;
  }

  .header_nav {
    display: none;
  }

  /*Intro*/
  .intro {
    height: 636px;
  }

  .intro_container {
    width: 100%;
  }

  .intro_title {
    margin-top: 177px;
    font-size: calc(6.25rem + 1vw);
    margin-bottom: 0px;
    line-height: 130px;
  }

  .intro_sub_title {
    max-width: 320px;
    font-size: calc(0.8rem + 1vw);
    margin-bottom: 47px;
    line-height: 23px;
  }

  .nav_mobile {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-family: Sukhumvit Set;
    font-style: normal;
    font-weight: 500;
    font-size: calc(0.55rem + 1vw);
    line-height: 16px;
    color: #FFFFFF;
  }

  .mobile_link {
    padding-right: 10px;
    padding-left: 20px;
  }

  .apple_smaller_icon {
    background: url(../images/Group.svg);
    background-repeat: no-repeat;
  }

  .google_smaller_icon {
    background: url(../images/Goo.svg);
    background-repeat: no-repeat;
  }

  /*COMING SOON PAGE*/
  .coming_soon_page {
    height: 495px;
    overflow-x: hidden;
  }

  .coming_soon_text {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -4px;
    font-size: calc(50px + 1vw);
    line-height: 62px;
  }

  .coming_soon_title {
    max-width: 343px;
    font-size: calc(1rem + 1vw);
    margin-top: 50px;
    line-height: 32px;
  }

  .coming_soon_subtitle {
    max-width: 301px;
    font-size: calc(0.475rem + 1vw);
    line-height: 24px;
  }

  /*Third page*/
  .shedulepage_main_image {
    width: 100%;
    height: 300px;
    transform: none;
    margin-bottom: 0;
    background-position: center;
  }

  /*OWN SHEDULE*/
  .shedule {
    width: 100%;
    height: 600px;
    align-items: center;
    flex-direction: column-reverse;
    margin: 0;
  }

  .shedule_image {
    width: 90%;
    height: 280px;
    margin-bottom: 66px;
    background-position: center;
    background-size: 100%;
  }

  .first_textbox {
    width: 300px;
    height: 115px;
  }

  .first_textbox:hover .suptitles {
    transform: translate(-4px);
  }

  .suptitles {
    margin-top: 50px;
    font-size: calc(0.575rem + 1vw);
    line-height: 21px;
  }

  .shedule_title {
    width: 300px;
    margin-top: 7px;
    margin-bottom: 7px;
    height: 32px;
    font-size: calc(1.2rem + 1vw);
    line-height: 32px;
  }

  .first_subtitles {
    margin-top: 0;
    font-size: calc(0.675rem + 1vw);
    line-height: 24px;
  }

  .shedule_subtitle {
    max-width: 305px;
    margin-top: 0px;
  }

  /*MAKE MONEY*/
  .money_page {
    width: 100%;
    height: 600px;
  }

  .money {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 600px;
  }

  .money_text {
    margin-left: 20px;
    margin-top: -120px;
    margin-bottom: 30px;
  }

  .money_suptitle {
    margin-top: 0px;
  }

  .money_title {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 300px;
    height: 32px;
    font-size: calc(1.2rem + 1vw);
    line-height: 32px;
  }

  .money_image {
    background: url(../images/Webp.net-compress-image.jpg);
    margin-top: 50px;
    transform: none;
    margin-left: 0px;
    margin-bottom: -15px;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .money_subtitle {
    max-width: 300px;
  }

  /*main_phone*/
  .main_phone_page {
    width: 100%;
    height: 892px;
    justify-content: flex-start;
    overflow: hidden;
  }

  .the_phone_block {
    display: none;
  }

  .shapper_text_mobile {
    display: block;
  }

  .personal_text_mobile {
    display: block;
    margin-top: 40px;
  }

  .second_textbox {
    width: 305px;
    height: 139px;
  }

  .second_textbox:hover .suptitles {
    transform: translate(-4px);
  }

  .shapper_title {
    max-width: 305px;
    height: 32px;
    margin-top: 7px;
    font-size: calc(0.8rem + 1vw);
    line-height: 32px;
  }

  .second_subtitles {
    margin-top: 7px;
    font-size: calc(0.675rem + 1vw);
    max-width: 305px;
    line-height: 24px;
  }

  .personal_title {
    width: 199px;
    height: 32px;
    font-size: calc(0.8rem + 1vw);
    margin-top: 7px;
    line-height: 32px;
  }

  /*circles*/
  .circles_box_mobile {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 201.8px;
    margin-top: 100px;
    background: url(../images/Ellipse\ 35.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .phone_photo_mobile {
    width: 135.41px;
    height: 282px;
    transform: translateY(-25.74px);
  }

  .under_phone_box_mobile {
    width: 100%;
    height: 76px;
    display: flex;
    flex-direction: column;
    margin-top: 140px;
  }

  .coming_soon_on {
    display: flex;
    justify-content: center;
    font-size: calc(0.55rem + 1vw);
    line-height: 16px;
  }

  .under_phone_links {
    display: flex;
    justify-content: center;
    margin-top: 14.46px;
    margin-bottom: 0px;
  }

  .left_link {
    width: 158.78px;
    height: 45.36px;
    margin-left: 20px;
    font-size: 12px;
    line-height: 16px;
  }

  .right_link {
    width: 158.78px;
    height: 45.36px;
    margin-right: 20px;
    font-size: 12px;
    line-height: 16px;
  }

  /*Last page*/
  .last_page {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .last_page_photo {
    display: none;
  }

  .last_page_subscribe {
    height: 898px;
    width: 100%;
  }

  .inner_subscribe_box {
    width: 100%;
    margin-top: 95px;
  }

  .subscribe_title {
    width: 118px;
    height: 32px;
    font-size: calc(1.2rem + 1vw);
    margin-top: 70px;
    margin-left: 20px;
    line-height: 32px;
  }

  .input_field {
    margin-top: 50px;
    width: 90%;
    height: 41px;
    font-size: calc(0.675rem + 1vw);
    line-height: 23px;
  }

  .button-sub {
    margin-top: 50px;
    width: 90%;
    height: 59px;
  }

  .drop-down {
    width: 90%;
    height: 41px;
  }

  .drop-down-text {
    padding-top: 10px;
    font-size: calc(0.675rem + 1vw);
    line-height: 23px;
  }

  /*FOOTER*/
  .footer {
    width: 100%;
    height: 95px;
  }

  .footer_logo {
    margin-top: 39px;
    margin-left: 20px;
  }

  .footer_text {
    font-size: calc(0.4rem + 1vw);
    margin-top: 42px;
    margin-right: 20px;
    line-height: 16px;
  }
}
@media screen and (min-device-width: 1025px) and (max-device-width: 1919px) {
  .wrapper {
    max-width: 100%;
    margin: 0 70;
  }

  .header_item {
    margin-right: 60px;
    list-style-type: none;
  }

  .header_link {
    font-family: "Sukhumvit Set";
    font-style: normal;
    font-weight: 500;
    font-size: calc(1rem + 0.5vw);
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 30px;
  }

  /*intro*/
  .coming_soon_text {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    font-size: 160px;
    line-height: 62px;
  }

  .intro_title {
    font-size: calc(15rem + 0.5vw);
    margin-top: 70px;
  }

  .intro_sub_title {
    font-size: calc(1.5rem + 0.5vw);
    margin-top: -30px;
  }

  .button-primary {
    margin-top: -50px;
  }

  .coming_soon_title {
    font-size: calc(2.5rem + 0.5vw);
  }

  .coming_soon_subtitle {
    font-size: calc(1.375rem + 0.5vw);
  }

  /*third page*/
  .shedulepage_main_image {
    width: 85%;
  }

  .shedule {
    width: 80%;
    margin-top: 0;
    margin-bottom: 194px;
  }

  .shedule_image {
    width: 50%;
  }

  .shedule_text {
    width: 50%;
    margin-left: 40px;
  }

  .suptitles {
    font-size: calc(1.5rem + 0.5vw);
  }

  .shedule_title {
    font-size: calc(2.8rem + 0.5vw);
    text-transform: uppercase;
  }

  .first_subtitles {
    font-size: calc(1.5rem + 0.5vw);
  }

  .money {
    display: flex;
    justify-content: space-between;
  }

  .money_text {
    width: 50%;
    margin-left: 100px;
  }

  .money_image {
    width: 40%;
    margin-left: 0;
    margin-right: 20px;
  }

  .the_phone_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .over_the_phone_blocks {
    width: 100%;
    margin-left: 0;
  }

  .shapper_text {
    margin-left: 70px;
  }

  .personal_text {
    margin-right: 70px;
  }

  .shapper_title {
    font-size: calc(2.8rem + 0.5vw);
  }

  .second_subtitles {
    font-size: calc(1.5rem + 0.5vw);
  }

  .personal_title {
    font-size: calc(2.5rem + 0.5vw);
    max-width: 300px;
  }

  /*Last page*/
  .last_page {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .last_page_photo {
    display: flex;
    width: 50%;
  }

  .last_page_subscribe {
    height: 898px;
    width: 50%;
  }

  .inner_subscribe_box {
    width: 100%;
    margin-top: 95px;
  }

  .subscribe_title {
    width: 118px;
    height: 32px;
    font-size: calc(1.2rem + 1vw);
    margin-top: 70px;
    margin-left: 20px;
    line-height: 32px;
  }

  .circles_box {
    width: 100%;
  }

  .first_circle {
    width: 33%;
    background-position: center;
    background-size: 100%;
  }

  .second_circle {
    width: 33%;
    background-position: center;
    background-size: 100%;
  }

  .third_circle {
    width: 33%;
    background-position: center;
    background-size: 100%;
  }

  .input_field {
    margin-top: 50px;
    width: 90%;
    height: 41px;
    font-size: calc(0.675rem + 1vw);
    line-height: 23px;
  }

  .button-sub {
    margin-top: 50px;
    width: 90%;
    height: 59px;
  }

  .drop-down {
    width: 90%;
    height: 41px;
  }

  .drop-down-text {
    padding-top: 10px;
    font-size: calc(0.675rem + 1vw);
    line-height: 23px;
  }

  /*FOOTER*/
  .footer {
    width: 100%;
    height: 95px;
  }

  .footer_logo {
    margin-top: 39px;
    margin-left: 20px;
  }

  .footer_text {
    font-size: calc(0.4rem + 1vw);
    margin-top: 42px;
    margin-right: 20px;
    line-height: 16px;
  }
}

/*# sourceMappingURL=responsive.css.map */
