@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-V.ttf);
  src: url(../fonts/Inter-V.otf);
}

@font-face {
  font-family: "SF Pro Display";
  src: url(../fonts/SFPRODISPLAYMEDIUM.OTF);
  src: url(../fonts/SFPRODISPLAYMEDIUM.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf);
  src: url(../fonts/OpenSans-Bold.otf);
}
  * {
    margin: 0px;
}

 /* COMPONENTS */
  
body {
  background-color: #E5E5E5;
}  
  /* Buttons */
  .all_buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
  }
  
  h5 {
    font-size: 16px;
    line-height: 24px;
  }
  button {
    margin: 2em;
    height: 70px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0052FF;
    border-radius: 4px;
  }
  button:disabled {
    color: #80A9FF;
    background: rgba(0, 82, 255, 0.08);
  }
  
  .imgs {
    padding: 10px;
  }
   img {
     padding-right: 20px;
   }
  
  .but_prime {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E6EEFF;
    background: #0052FF;
    box-shadow: none;
  }
  .but_prime:hover {
    background: #4D86FF;
    box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16);
  }
  .but_prime:focus {
    background: #4D86FF;
    box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16);
  }
  
  .ghost {
    color: #0052FF;
    background: white;
  }
  .ghost:hover {
    color: #0052FF;
    background: rgba(0, 82, 255, 0.16);
    border: 1px solid #0052FF;
    box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16);
  }
  .ghost:focus {
    color: #0052FF;
    background: rgba(0, 82, 255, 0.16);
    border: 1px solid #0052FF;
    box-shadow: 0px 4px 10px rgba(1, 21, 52, 0.16);
  }
  
  .disabled {
    border: 0px;
  }
  
  /* Inputs */
  
  input:disabled {
    background-color: white;
  }
  
  .all_inputs {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-auto-rows: minmax(60px, auto);
  }
  .all_inputs div {
    display: flex;
    flex-direction: column;
  }
  
  
  .main {
    margin: 10px;
    border: 1px solid #B3CBFF;
    width: 300px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    font-size: 24px;
    padding: 7px;
  }
  
  .inp_prime:hover {
    border: 1px solid #0052FF;
  }
  .inp_prime:focus {
    border: 1px solid #0052FF;
  }
  
  .error {
    border: 1px solid #FF3434;
    color: #FF3434;
  }
  .error::placeholder {
    color: #FF3434;
  }
  
  .inp_suc {
    border: 1px solid #53D86A;
    color: #53D86A;
  }
  .inp_suc::placeholder {
    color: #53D86A;
  }
  
  .inp_inf {
    border: 1px solid #FFCB2F;
    color: #FFCB2F;
  }
  .inp_inf::placeholder {
    color: #FFCB2F;
  }
  
  .icon_l {
    padding-left: 45px;
  }
  
  .icon_r {
    padding-right: 45px;
  }
  
  .icon_user {
    background: url(../images/user.svg) no-repeat 20px;
    background-position: 13px 17px;
  }
  
  .icon_desc_inf {
    background: url(../images/user-info.svg) no-repeat 20px;
    background-position: 13px 17px;
  }
  
  .icon_desc_suc {
    background: url(../images/user-success.svg) no-repeat 20px;
    background-position: 13px 17px;
  }
  
  .icon_desc_err {
    background: url(../images/user-error.svg) no-repeat 20px;
    background-position: 13px 17px;
  }
  
  .eyes {
    background: url(../images/eye.svg) no-repeat 20px;
    background-position: 265px 20px;
  }
  
  .eye_inf {
    background: url(../images/eye-info.svg) no-repeat 20px;
    background-position: 265px 20px;
  }
  
  .eye_suc {
    background: url(../images/eye-success.svg) no-repeat 20px;
    background-position: 265px 20px;
  }
  
  .eye_err {
    background: url(../images/eye-error.svg) no-repeat 20px;
    background-position: 265px 20px;
  }
  
  
  /* Checkboxes */
  
  .checkboxes_container label {
    display: flex;
    flex-direction: column;
    margin: 100px;
  }
  
  .our_checkboxes {
    -webkit-appearance: none;
  }
  .our_checkboxes:checked + .check_field {
    background: url(../images/checkbox-on.svg);
  }
  .our_checkboxes:disabled + .check_field {
    background: url(../images/checkbox-off-disabled.svg);
  }
  .our_checkboxes:checked:disabled + .check_field {
    background: url(../images/checkbox-on-disabled.svg);
  }
  .our_checkboxes:checked + .radio_field {
    background: url(../images/radio-on.svg);
  }
  .our_checkboxes:disabled + .radio_field {
    background: url(../images/radio-off-disabled.svg);
  }
  .our_checkboxes:checked:disabled + .radio_field {
    background: url(../images/radio-on-disabled.svg);
  }
  
  .check_field {
    width: 24px;
    height: 24px;
    background: url(../images/checkbox-off.svg);
  }
  
  .radio_field {
    width: 24px;
    height: 24px;
    background: url(../images/radio-off.svg);
  }
  
  /* Switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
    margin-top: 90px;
  }
  
  .slider-box {
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    transition: 0.4s;
    border-radius: 15px;
  }
  .slider-box::before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    top: 2px;
    left: 2.09px;
    bottom: 2px;
    background-color: #E6EEFF;
    transition: 0.4s;
    border-radius: 24px;
  }
  
  .switch input {
    -webkit-appearance: none;
  }
  
  input:checked + .slider-box {
    background-color: #FFFFFF;
  }
  input:checked + .slider-box::before {
    background-color: #0052FF;
    transform: translateX(20px);
  }
  
  
  /* DropDown */
  
  .drop_button {
    color: #0052FF;
    width: 200px;
    height: 54px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #0052FF;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .text_btn {
    padding: 15px;
  }
  
  .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  .dropdown a:hover {
    background-color: #ddd;
  }
  
  .dropdown_inner {
    display: none;
    margin: 2px;
    border-radius: 4px;
    background-color: white;
    width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown_inner a {
    color: #00194C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #E6EEFF;
  }
  
  .show {
    display: block;
  }