@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.Header {
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}
.Header__logo {
  margin-left: 64px;
  width: 105px;
  height: 24px;
  background: url(../../public/images/Linkstagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.Header__nav {
  display: flex;
}
.Header__item:not(:last-child) {
  margin-right: 16px;
}
.Header__item:last-child {
  margin-right: 64px;
}
.Header__homeTypo {
  font-size: 12px;
  line-height: 20px;
  color: #FAFBFC;
  text-decoration: none;
}
.Header__homeBox {
  width: 85px;
  height: 40px;
  background: #010101;
  padding: 4px 24px;
}
.Header__langBox {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  padding: 10px 12px;
}
.Header__navImg {
  width: 40px;
  height: 40px;
  background: url(../../public/images/Rectangle29.jpg);
}
.Header__navMobile {
  display: none;
}

.LinkBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.5px solid #C9CAD1;
  box-sizing: border-box;
  border-radius: 12px;
}

.LangEn {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .Header {
    width: 100%;
    height: 64px;
  }
  .Header__logo {
    margin-left: 16px;
    width: 105px;
    height: 24px;
  }
  .Header__nav {
    display: none;
  }
  .Header__navMobile {
    display: block;
    margin-right: 12px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1299px) {
  .Header {
    width: 100%;
    height: 64px;
  }
  .Header__logo {
    margin-left: 64px;
    width: 105px;
    height: 24px;
  }
  .Header__nav {
    display: none;
  }
  .Header__navMobile {
    display: block;
    margin-right: 64px;
  }
}
.Card {
  width: 560px;
  height: 777px;
}
.Card__top {
  width: 560px;
  margin-top: 48px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Card__ava {
  width: 192px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Card__avatar {
  width: 40px;
  height: 40px;
  background: url(../../public/images/Nettie.jpg);
}
.Card__userInfo {
  width: 136px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Card__userNameText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #010101;
}
.Card__timeUnderUserName {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #010101;
  opacity: 0.25;
}
.Card__menuIcon {
  width: 32px;
  height: 32px;
  background: url(../../public/images/Menuicon.svg);
}
.Card__publicationImg {
  width: 560px;
  height: 560px;
  margin-top: 16px;
}
.Card__underPublication {
  margin-top: 20px;
  margin-right: 4px;
  margin-left: 4px;
  width: 552px;
  height: 100px;
}
.Card__underPublicationText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
  white-space: pre-line;
}
.Card__lower {
  margin-top: 16px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Card__lowerInteractions {
  width: 156px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Card__likes {
  width: 63px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Card__likesIcon {
  margin-left: 2.25px;
  width: 19.5px;
  height: 21.75px;
  background: url(../../public/images/Likes.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.Card__lowerNumber {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.Card__comments {
  width: 53px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Card__commentsIcon {
  width: 24px;
  height: 24px;
  background: url(../../public/images/Comments.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.Card__lowerShare {
  width: 80px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Card__ShareLogo {
  width: 48px;
  height: 20px;
  background: url(../../public/images/Share.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.Card__ShareArrow {
  width: 24px;
  height: 24px;
  background: url(../../public/images/Arrowright.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.Card__publicationImgMob {
  display: none;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .Card {
    width: 100%;
    height: 777px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Card__top {
    margin-top: 12px;
    width: 300px;
  }
  .Card__publicationImg {
    display: none;
  }
  .Card__publicationImgMob {
    display: block;
    margin-top: 12px;
    width: 300px;
    height: 343px;
  }
  .Card__underPublication {
    margin-top: 20px;
    margin-right: 4px;
    margin-left: 4px;
    width: 300px;
    height: 100px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1299px) {
  .Card {
    width: 100%;
    height: 777px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Card__top {
    width: 560px;
  }
  .Card__publicationImg {
    display: none;
  }
  .Card__publicationImgMob {
    display: block;
    margin-top: 12px;
    width: 560px;
    height: 560px;
  }
  .Card__underPublication {
    margin-top: 20px;
    margin-right: 4px;
    margin-left: 4px;
    width: 560px;
    height: 100px;
  }
}
.Main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Main__StoriesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Main__profileBar {
  margin-top: 33px;
  margin-left: 82px;
  width: 304px;
  height: 245px;
  display: flex;
  flex-direction: column;
}
.Main__followStatus {
  margin-left: 12.5px;
  width: 279px;
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Main__followNumsAndText {
  width: 75px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Main__followNumber {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #010101;
}
.Main__followText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #C9CAD1;
}
.Main__followAva {
  width: 88px;
  height: 94px;
  background: url(../../public/images/Ava.png);
}
.Main__profileTitle {
  margin-top: 17px;
  margin-left: 16.5px;
  width: 271px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Main__profileName {
  color: #010101;
}
.Main__profileIcon {
  width: 4px;
  height: 1px;
  background: url(../../public/images/Dash.svg);
}
.Main__profileJob {
  color: #010101;
}
.Main__profileSubtitle {
  margin-top: 17px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #C9CAD1;
  text-align: center;
  white-space: pre-line;
}
.Main__profileButtons {
  margin-top: 17px;
  margin-left: 42.5px;
  width: 219px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Main__profileBox {
  width: 103px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}
.Main__editBtn {
  background: #FFFFFF;
}
.Main__newPostBtn {
  background-color: #0087FF;
}
.Main__editText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #010101;
}
.Main__newPostText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .Main__StoriesCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Main__profileBar {
    display: none;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1299px) {
  .Main__StoriesCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Main__profileBar {
    display: none;
  }
}
.Stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Stories__newPostAvail {
  position: fixed;
  margin-top: 200px;
  width: 171px;
  height: 28px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.Stories__newPostAvailBox {
  width: 146px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Stories__newPostAvailText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  color: #0087FF;
  text-decoration: none;
}
.Stories__newPostAvailIcon {
  margin-right: 12px;
  margin-bottom: 2px;
  width: 15px;
  height: 15px;
  background: url(../../public/images/SmallCross.svg);
}
.Stories__opacity {
  margin-top: 49px;
  background: linear-gradient(90deg, rgba(250, 251, 252, 0) 0%, #FAFBFC 100%);
  width: 151px;
  height: 67px;
  position: absolute;
  transform: translateX(208px);
}
.Stories__storiesIconBox {
  width: 560px;
  height: 74px;
  margin-top: 48px;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0;
}
.Stories__storiesIconBox::-webkit-scrollbar {
  display: none;
}
.Stories__storiesIcon {
  list-style-type: none;
}
.Stories__storiesIcon:not(:first-child) {
  margin-left: 12px;
}
.Stories__storiesIcon:nth-child(2) {
  margin-left: 0px;
}
.Stories__storiesIconWidth {
  width: 66px;
  height: 64px;
  border-radius: 16px;
  padding: 4px;
}
.Stories__storiesIconOne {
  background: linear-gradient(90deg, rgba(250, 251, 252, 0) 0%, #FAFBFC 100%);
  transform: rotate(-180deg);
  background-position: center;
  display: none;
}
.Stories__storiesIconTwo {
  background: url(../../public/images/Avatar1.png);
  background-repeat: no-repeat;
  background-position: center;
}
.Stories__storiesIconThree {
  background: url(../../public/images/Avatar2.png);
  background-repeat: no-repeat;
  background-position: center;
}
.Stories__storiesIconFour {
  background: url(../../public/images/Avatar3.png);
  background-repeat: no-repeat;
  background-position: center;
}
.Stories__storiesIconFive {
  background: url(../../public/images/Avatar4.png);
  background-repeat: no-repeat;
  background-position: center;
}
.Stories__storiesIconSix {
  background: url(../../public/images/Avatar5.png);
  background-repeat: no-repeat;
  background-position: center;
}
.Stories__storiesIconSeven {
  background: url(../../public/images/Avatar6.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0.5px solid #C9CAD1;
  box-sizing: border-box;
}
.Stories__storiesIconEight {
  background: url(../../public/images/Avatar1.png);
  background-repeat: no-repeat;
  background-position: right;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .Stories {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Stories__newPostAvail {
    margin-top: 111px;
    margin-left: 0px;
  }
  .Stories__newPostAvailIcon {
    margin-right: 6.07px;
    margin-bottom: 2px;
  }
  .Stories__opacity {
    transform: translateX(80px);
  }
  .Stories__storiesIconBox {
    width: 100%;
    margin-top: 24px;
    margin-left: 0px;
  }
  .Stories__storiesIcon:not(:first-child) {
    margin-left: 12px;
  }
  .Stories__storiesIcon:nth-child(2) {
    margin-left: 0px;
  }
  .Stories__storiesIconOne {
    display: none;
  }
  .Stories__storiesIconEight {
    display: none;
  }
  .Stories__storiesIconWidth {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    padding: 0;
  }
  .Stories__storiesIconTwo {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: url(../../public/images/small1.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .Stories__storiesIconThree {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: url(../../public/images/Small2.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .Stories__storiesIconFour {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: url(../../public/images/Small3.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .Stories__storiesIconFive {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: url(../../public/images/Small4.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .Stories__storiesIconSix {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: url(../../public/images/Small5.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .Stories__storiesIconSeven {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: url(../../public/images/Small6.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1299px) {
  .Stories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Stories__newPostAvail {
    margin-top: 200px;
    margin-left: 0px;
  }
  .Stories__newPostAvailIcon {
    margin-right: 6.07px;
    margin-bottom: 2px;
  }
  .Stories__storiesIconBox {
    width: 560px;
    margin-left: 0px;
  }
  .Stories__storiesIcon:not(:first-child) {
    margin-left: 16px;
  }
  .Stories__storiesIcon:nth-child(2) {
    margin-left: 0px;
  }
  .Stories__storiesIconOne {
    display: none;
  }
}
.Footer {
  margin-top: 32px;
  width: 304px;
  height: 40px;
}
.Footer__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  white-space: pre-line;
  color: #C9CAD1;
}

.NewPost {
  position: fixed;
  margin-top: 180px;
  margin-left: -350px;
  width: 576px;
  height: 683px;
  background-color: red;
  display: flex;
  flex-direction: column;
}
.NewPost__choosePht {
  border-radius: 12px;
  margin-left: 48px;
  margin-top: 48px;
  width: 480px;
  height: 345px;
  background-color: #C9CAD1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.NewPost__chooseFileInp {
  display: none;
}
.NewPost__boxForPht {
  width: 80px;
  height: 80px;
}
.NewPost__underPhtBoxText {
  margin-top: 14px;
}
.NewPost__supInput {
  margin-top: 32px;
  margin-left: 48px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}
.NewPost__formButtons {
  width: 480px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  margin-left: 48px;
  margin-top: 32px;
}
.NewPost__commonBtnStyle {
  width: 234px;
  height: 48px;
}
.NewPost__cancelBtn {
  border: 1px solid #C9CAD1;
  box-sizing: border-box;
  border-radius: 12px;
}
.NewPost__forPostBtn {
  background: #0087FF;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

textarea {
  padding-top: 14px;
  padding-left: 14px;
  margin-left: 48px;
  margin-top: 2px;
  width: 480px;
  height: 108px;
  border: 1px solid #C9CAD1;
  box-sizing: border-box;
  border-radius: 12px;
  background: #FFFFFF;
}

* {
  margin: 0;
}

/*# sourceMappingURL=App.css.map */
