.Header {
    width: 1920px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);


    &__logo {
        margin-left: 64px;
        width: 105px;
        height: 24px;
        background: url(../../public/images/Linkstagram.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    &__nav {
        display: flex;
    }

    &__item {
        &:not(:last-child) {
        margin-right: 16px;
        }

        &:last-child {
        margin-right: 64px;
        }
    }

    &__homeTypo {
        font-size: 12px;
        line-height: 20px;
        color: #FAFBFC;
        text-decoration: none;
    }

    &__homeBox {
        width: 85px;
        height: 40px;
        background: #010101;
        padding: 4px 24px;
    }

    &__langBox {
        width: 40px;
        height: 40px;
        background: #FFFFFF;
        padding: 10px 12px;
    }

    &__navImg{
        width: 40px;
        height: 40px;
        background: url(../../public/images/Rectangle29.jpg);
    }

    &__navMobile {
        display: none;
    }
}

.LinkBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.5px solid #C9CAD1;
    box-sizing: border-box;
    border-radius: 12px;
}

.LangEn {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}



@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .Header {
        width: 100%;
        height: 64px;
    
        &__logo {
            margin-left: 16px;
            width: 105px;
            height: 24px;
        }

        &__nav {
            display: none;
        }

        &__navMobile {
            display: block;
            margin-right: 12px;
        }
    }    
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .Header {
        width: 100%;
        height: 64px;
    
        &__logo {
            margin-left: 64px;
            width: 105px;
            height: 24px;
        }

        &__nav {
            display: none;
        }

        &__navMobile {
            display: block;
            margin-right: 64px;
        }
    }    
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1919px) {
    .Header {
        width: 100%;
        height: 64px;
    
        &__navMobile {
            display: none;
        }
    }    
}