@import './variables.scss';

.Main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__StoriesCard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__profileBar {
        margin-top: 33px;
        margin-left: 82px;
        width: 304px;
        height: 245px;
        display: flex;
        flex-direction: column;
    }

    &__followStatus {
        margin-left: 12.5px;
        width: 279px;
        height: 94px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__followNumsAndText {
        width: 75px;
        height: 44px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__followNumber {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $mainBlack;
    }

    &__followText {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $gray;
    }

    &__followAva {
        width: 88px;
        height: 94px;
        background: url(../../public/images/Ava.png);
    }


    &__profileTitle {
        margin-top: 17px;
        margin-left: 16.5px;
        width: 271px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__profileName {
        color: $mainBlack;
    }

    &__profileIcon {
        width: 4px;
        height: 1px;
        background: url(../../public/images/Dash.svg);
    }

    &__profileJob {
        color: $mainBlack;
    }


    &__profileSubtitle {
        margin-top: 17px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: $darkGray;
        text-align: center;
        white-space: pre-line;
    }

    &__profileButtons {
        margin-top: 17px;
        margin-left: 42.5px;
        width: 219px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__profileBox {
        width: 103px;
        height: 40px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        text-decoration: none;
    }

    &__editBtn {
        background: $mainWhite;
    }

    &__newPostBtn {
        background-color: $blue;
        ;
    }

    &__editText {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $mainBlack;
    }

    &__newPostText {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $mainWhite;
    }


}


@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .Main {
        &__StoriesCard {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        &__profileBar {
            display: none;
        }
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1299px) {
    .Main {
        &__StoriesCard {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__profileBar {
            display: none;
        }
    }
}
